{% extends "base.html" %}

{% block titulo %} .:. Index .:. {% endblock %}

{% block Contenido %} 

<div class="card">
    <div class="card-header">
        <h1>Editar el pacientes</h1>
    </div>
    <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="">Documento</label>
              <input type="text" name="documento" id="documento" class="form-control" placeholder="" aria-describedby="helpId" value="{{formPatient.documento.value}}">
            </div>
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="" aria-describedby="helpId" value="{{formPatient.nombre.value}}">
              </div>
              <div class="form-group">
                <label for="">Edad</label>
                <input type="text" name="edad" id="edad" class="form-control" placeholder="" aria-describedby="helpId"  value="{{formPatient.edad.value}}">
              </div>
              <div class="form-group">
                <label for="">EPS</label>
                <input type="text" name="eps" id="eps" class="form-control" placeholder="" aria-describedby="helpId"  value="{{formPatient.eps.value}}">
              </div>

              <div class="form-group">
                <label for="">Foto</label>
                <input type="file" name="imagen" id="imagen" class="form-control"  value="{{formPatient.imagen.value}}" >
              </div>

              <br><br>

              <button type="submit" class="btn btn-primary">Guardar</button>
              <a name="" id="" class="btn btn-warning" href="{% url 'patients' %}" role="button">Cancelar</a>
        </form>
        
        
    </div>
    <div class="card-footer text-muted">
        <h3>IngSoft 2.0</h3>
    </div>
</div>

{% endblock %}